<nav>
  <ul>
      <li><a href="{% url 'workouts:dashboard' %}">Dashboard</a></li>
      <li><a href="{% url 'workouts:routines' %}">Routines</a></li>      
      <li><a href="{% url 'workouts:progress' %}">Progress</a></li>
      <li><a href="{% url 'workouts:set_goals' %}">Set Goals</a></li>
      <li><a href="{% url 'workouts:view_statistics' %}">View Statistics</a></li>
      <li><a href="{% url 'workouts:summary' %}">Summary</a></li>
      <li><a href="{% url 'workouts:compare_routines' %}">Compare Routines</a></li>
      <li><a href="{% url 'workouts:log_rest' %}">Log Rest</a></li>
  </ul>
</nav>


