{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block head_title %}
        Título base
      {% endblock %}
    </title>
    {% block head %}
        <!-- Any additional styles or scripts common to all pages -->
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% include '_includes/_header.html' %}

    <main>

      {% block page_content %}

      {% endblock %}

      {% block extra_js %}
      
      {% endblock %}
    </main>

    {% include '_includes/_footer.html' %}
  </body>
</html>
