{% extends 'layout.html' %}

{% load static %}

{% block head_title %}
  Dictionary
{% endblock %}

{% block head %}
  {{ block.super }} <!-- This ensures that any other content in the head block in layout.html is still present -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block page_content %}
  <div class="container my-4">
    <h2 class="text-center mb-4">CrossFit Dictionary</h2>
    <!--editar el buscador para que funcione-->
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="row">
      {% for term in terms %}
        <div class="col-md-6 mb-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4 class="card-title">{{ term.term }} <small class="text-muted">({{ term.category }})</small></h4>
              <p class="card-text">{{ term.definition }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="chart-container">
    <canvas id="termsChart"></canvas>
  </div>

  <!-- Include the JavaScript chart configuration file -->
  <script src="{% static 'js/config_chart.js' %}"></script>
{% endblock %}
