{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
  Set Goals
{% endblock %}

{% block page_content %}
  <h2>Your Goals List</h2>
  <h3>Select the goal that you wanted to change</h3>
  <ul>
    {% for goal in goals %}
      <li>
        {% if goal.is_completed %}
          <span class="completed">✅</span>
        {% else %}
          <span class="not-completed">❌</span>
        {% endif %} {{ goal.exercise }} - {{ goal.target_weight }} - {{ goal.notes }}
        <a href="{% url 'workouts:check_goals' goal.pk %}" class="btn btn-primary">Actualizar</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
