{% extends 'layout.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block page_content %}
  <h2>You have to choose one option</h2>

  <select id="formSelector">
    <option value="" selected>Options</option>
    <option value="routine">Routine</option>
    <option value="workout">Workout</option>
    <option value="knownWorkout">Known Workout</option>
  </select>

  <div id="routineForm" style="display: none;">
    <form class="ajaxForm" method="post" data-url="{% url 'workouts:training' %}">
      {% csrf_token %}
      {{ routine_form.as_p }}
      <input type="hidden" name="form_type" value="routine" />
      <button type="submit" class="btn btn-primary" name="routine_form">Submit Routine</button>
    </form>
    
    <div id="workoutFormset" style="display: none;">
      {% include 'workouts/formset.html' %}

    </div>
  </div>

  <div id="workoutForm" style="display: none;">
    <form class="ajaxForm" method="post" data-url="{% url 'workouts:training' %}">
      {% csrf_token %}
      {{ workout_form.as_p }}
      <input type="hidden" name="form_type" value="workout" />
      <button type="submit" class="btn btn-primary" name="workout_form">Submit Workout</button>
    </form>
  </div>

  <div id="knownWorkoutForm" style="display: none;">
    <form class="ajaxForm" method="post" data-url="{% url 'workouts:training' %}">
      {% csrf_token %}
      {{ known_workout_form.as_p }}
      <input type="hidden" name="form_type" value="knownWorkout" />
      <button type="submit" class="btn btn-primary" name="known_workout_form">Submit Workout</button>
    </form>
  </div>

  <a href="{% url 'workouts:training_manager' %}" class="btn btn-primary">Back to training</a>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <!-- Include the JavaScript configuration file for form options after the content has loaded -->
  <script src="{% static 'js/form_option.js' %}"></script>
{% endblock %}
