{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock %}

{% block page_content %}
<div class="container">
  {% include '_includes/_messages.html' %}

  <h1>Login</h1>
    <form action="" method="post">
      {% csrf_token %}
      <div class="login">
        <div class="login_form">
          {{ form.username|as_crispy_field }}
          {{ form.password|as_crispy_field }}
        </div>
      </div>
      <button class="btn btn-secondary">Register</button>
    </form>
</div>

{% endblock %}
